<aside class="sidebar">
    <button type="button" class="sidebar-close-btn">
        <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
        <a href="{% url 'index' %}" class="sidebar-logo">
            <img src="/static/images/logo.png" alt="site logo" class="light-logo">
            <img src="/static/images/official_logo.png" alt="site logo" class="dark-logo">
            <img src="/static/images/logo-icon.png" alt="site logo" class="logo-icon">
        </a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu" id="sidebar-menu">
                    <a href="{% url 'index' %}"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Интерактивно табло</a>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="{% url 'index' %}"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Обществени поръчки в корупционен риск</a>
                    </li>


                </ul>
            </li>
            <li class="sidebar-menu-group-title">Анализи</li>
            <li>
				
			<li class="nav-item">
			<a class="nav-link" href="/data/table/?file=final.csv">
			📊 Корупционен риск на ниво обществени поръчки
			</a>
			</li>
            </li>
            <li>
			<a class="nav-link" href="/data/table/?file=clients.csv">
			📊 Корупционен риск на ниво Възложител
			</a>
			</li>
            </li>
            <li>
			
 			<a class="nav-link" href="/data/table/?file=clients.csv">
			📊 Корупционен риск на ниво Изпълнител
			</a>
			</li>
            </li>
            <li>

                </ul>
            </li>
        </ul>
    </div>
</aside>